<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patachadmin.patachou">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatachouxAdmin"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Order.OrderSubActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Order.OrderActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.UpdateProductActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".User.UpdateProductPriceActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.DeliveryBoyActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.AddDeliveryBoyActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.AddProductPriceActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Admin.AdminProductActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".User.UserProductActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.AddUserActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.AddProductActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Screens.UpdateSubAdminRecordActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.AddSubAdminActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.UpdateAdminPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
        <activity
            android:name=".Screens.SuperAdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".Screens.AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".Screens.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PatachouxAdmin.NoActionBar" />
    </application>

</manifest>